.footer {
    background-color:$GradientBg;
    padding-bottom: 1rem;


    .menuFooter {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 6rem;
        width: 100%;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .footerLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .logos {
        border-radius: 100%;
    }

    .social {
        margin: 0px 10px 10px 10px;
    }

    .social:hover {
        transform: scale(1.2, 1.2);

    }

    .logos:hover {
        transform: scale(1.1, 1.1);

    }
}