/* container main index.html */

.bg-personalizado {
    padding: 1rem;
    @extend %bg-fondo;

    .titulos {
        font-style: italic;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
        padding: 2rem;
        color: #ffc402;
    }

    div {

        .card {
            margin-bottom: 1rem;
            border-width: 0px !important;
            border-color: none !important;

            .imgEscuela {
                height: 216.34px;
            }

            .card-body {
                @extend %bg-wallpaper;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                .card-title {
                    color: rgb(255, 255, 255);
                    text-align: center;
                    padding-bottom: 5px;
                    border-bottom: rgb(255, 255, 255) 2px solid;

                }

                .card-text {
                    text-align: center;
                    color: rgb(255, 255, 255);
                }

                .btn {

                    @include justify-center (none, none, center, );
                    font-weight: 500;
                    background-color: rgba(255, 255, 255, 0.196);
                    color: rgb(248, 248, 248);

                    &:hover {
                        color: #ffc402;
                        transform: scale(1.05, 1.1);
                    }
                }

            }

        }





    }


}